.regBg {
  height: 100vh;
  background-image: url(../../assets/img/login2.jpeg);
  position: relative;
  .reg-header {
    height: 15vh;
    width: 100%;
  }
  .reg-content {
    width: 600px;
    height: 480px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    .reg-title {
      padding-top: 20px;
      color: rgba(0, 0, 0, 0.746);
    }
  }
}